    <div class="card">
        <img src="./Assets/profile-pic.webp" class="card-img-top" alt="genericProfilePic">
        <div class="card-body">
          <h5 class="card-title">{{name}} <br>
            {{role}}</h5>
          <p class="card-text">
            <div class="stats">Employee ID: {{id}}</div>
            <div class="stats">Email: <a href="mailto:{{email}}">{{email}}</a></div>
            <div class="stats">GitHub: <a href="https://{{github}}/">{{github}}</a></div>
          </p>
        </div>
      </div>
